	<p>[2019-03-01 17:18:11]From <a href="http://rss.slashdot.org/Slashdot/slashdotMain">Slashdot</a></p>

	<ul>
		<li>Canada Allows US Extradition of Huawei <span class="caps">CFO</span> To Proceed</li>
		<li>Amazon To Launch New Grocery-Store Business Separate From Whole Foods</li>
		<li>Facebook Admits 18% of Research Spyware Users Were Teens &#8212; Not Less Than 5% It Claimed Earlier This Year</li>
		<li>Microsoft Excel Can Now Turn Pictures of Tables Into Actual, Editable Tables</li>
		<li>Ridley Scott&#8217;s &#8216;Alien&#8217; Will Finally be Released in 4K <span class="caps">HDR</span> For Its 40th Anniversary</li>
		<li>Know-It-All Robot Shuts Down Dubious Family Texts</li>
		<li>Australia&#8217;s Hottest Summer Beats Previous Record by &#8216;Large Margin&#8217;</li>
		<li>China Bans 23 Million From Buying Travel Tickets as Part of &#8216;Social Credit&#8217; System</li>
		<li>Ebay Weighs Selling Off Businesses After Pressure From Activist Investors</li>
		<li>Amazon Stops Selling Press-to-Order Dash Buttons</li>
		<li>The New &#8216;Red Dead Redemption&#8217; Reveals the Biggest Problem With Marquee Games Today: They&#8217;re Boring as Hell.</li>
		<li>University of California Boycotts Publishing Giant Elsevier Over Journal Costs and Open Access</li>
		<li>Shared Scooters Don&#8217;t Last Long</li>
		<li>Twitter Confirms It&#8217;s Working On a &#8216;Hide Tweet&#8217; Feature</li>
		<li>Folding iPhone Patent Application Shows How the Company Could Prevent Damage In Cold Weather</li>
	</ul>
